html {
    height: 100%;
}

body {
    background: whitesmoke;
    color: dimgray;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    height: 100%;
}

/*Some generic styling to sart us off*/

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

input[type=text] {
    font-size: 14px;
    border-radius: 3px;
}

/*disabled input*/

input[type=text]:disabled {
    background: white;
    border: 1px solid lightgray;
    opacity: 0.6;
}

/*inpur rang */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #40bfbf;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  background: #43cbcb;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #40bfbf;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #43cbcb;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border: 1px solid #40bfbf;
  margin-top: 1px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #43cbcb;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: lightgray;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: lightgray;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: lightgray;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #40bfbf;
}
input[type=range]:focus::-ms-fill-lower {
  background: #40bfbf;
}
input[type=range]::-ms-fill-upper {
  background: lightgray;
}
input[type=range]:focus::-ms-fill-upper {
  background: lightgray;
}

.collapsable-text {
    margin-left: 8px;
}


/*Now some more serious stuff*/


.app-container {
    display: flex;
    flex: 1;
    flex-flow: row;
}

.banner-container {
    display: flex;
    flex-flow: column;
    background: white;
    border-right: 1px solid lightgray;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}

    .title-container {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 40px;
    }

    .title-container h1 {
        font-weight: 400;
        text-align: center;
        margin: 10px;
    }

    .title-container span {
        font-size: 10px;
        color: gray;
        margin: 5px;
    }

    .logo-area {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 150px;
        margin: 10px;
        background: #43cbcb;
        background: -webkit-linear-gradient(#43cbcb, mediumseagreen);
        background: -o-linear-gradient(#43cbcb, mediumseagreen);
        background: -moz-linear-gradient(#43cbcb, mediumseagreen);
        background: linear-gradient(#43cbcb, mediumseagreen);
    }

    .logo-area svg {
        fill: white;
        height: 80px;
        width: auto;
    }


    #interactive-media {
        display: flex;
        flex-flow: column;
        flex: 1;
        transition: 0.5s all;
    }

    .social-media-container {
        display: flex;
        flex: 1;
        flex-basis: row;
        align-items: center;
        justify-content: center;
    }

    .social-media-container div {display: flex}

    .social-media-container svg {
        height: 40px;
        width: 40px;
        fill: mediumseagreen;
        stroke: none;
        margin: 4px;
        transition: 0.2s all;
        cursor: pointer;
    }

    .social-media-container svg:hover {
        fill: #43cbcb;
    }

    .banner-container span {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s background;
    }

    .banner-container span:hover {
        text-decoration: underline
    }

    .share-button {
        display: none;
    }

    .share-button svg {
        height: 35px;
        width: 35px;
        fill: none;
        stroke: #BBB;
    }

    .share-button svg circle {
        fill: #BBB;
        stroke: none;
    }

#ko-fi-button {
    height: 36px;
    margin: 15px;
}


/*Add styles*/

.ad-container {
    flex-flow: column;
    background: white;
    border-left: 1px solid lightgray;
    flex: 0 0 10px; /*change this */
}


/*Main container styles*/

.main-container {
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
    background: #43cbcb;
    background: -webkit-linear-gradient(#43cbcb, mediumseagreen);
    background: -o-linear-gradient(#43cbcb, mediumseagreen);
    background: -moz-linear-gradient(#43cbcb, mediumseagreen);
    background: linear-gradient(#43cbcb, mediumseagreen);
    justify-content: center;
}

    #form-container h2 {
        padding: 15px 20px 0px 20px;
        font-size: 18px;
        margin: 0px;
        color: slategray;
        border-top: 1px solid lightgray;
        font-weight: 400;
    }

    #form-container h2:first-child {
        border-top: 0px;
    }

    input[type=text] {
        padding: 10px;
        border: 1px solid lightgray;
    }

.form-block {
    display: flex;
    padding: 20px;
    flex-flow: column;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.form-row input[type=text] {
    flex: 1 1 auto;
    margin-left: 10px;
}

.form-row input[type=text]:first-child {
    margin-left: 0px;
}

.button-icon {
    height: 16px;
    width: 16px;
    fill: transparent;
    stroke: white;
}

#recommend-button {
    margin: 10px 50px;
    flex: 1;
}

#recommend-button span {
    text-transform: none;
}


/*Preview container styles*/

#form-container {
    display: flex;
}

#preview-container {
    display: none;
}

.pane-header {
    font-size: 14px;
    display: flex;
    background: white;
    flex: 0 0 55px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    color: dimgray;
    padding: 0px 20px;
}

    .pane-header span {
        padding: 0px 20px 0px 0px;
    }

    .pane-header p {
        font-size: 11px;
    }

    .pane-header input[type=range] {
        margin-right: 20px;
    }

    .type-button-container {
    display: flex;
    flex-flow: row;
    flex: 1;
    flex-wrap: wrap;
    margin: 10px;
    }

        .type-button-container label {
            display: flex;
            flex: 0 0 31%;
            margin-left: 2%; 
        }

        .type-button-container span:hover {
            background: #EEE;
        }

        .type-button-container span {
            display: flex;
            flex: 1 0 32%;
            text-transform: capitalize;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: white;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 3px;
            transition: 0.2s all;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            fill: dimgray;
        }

            .type-button-container span svg {
                height: 18px;
                width: auto;
                fill: inherit;
            }

        .type-button-container label .delete-button {
            padding: 0px;
            margin-left: auto;
            display: flex;
        }

        .type-button-container :checked .button-icon {
            fill: red;
        }

        .type-button-container :checked + span {
            color: white;
            background:#43cbcb;
            border: 1px solid #40bfbf;
            fill: white;
        }

.pane-container {
    flex: 0 0 600px;
    flex-flow: column;
    margin: 10px;
    max-width: 800px;
}

.preview-page {
    flex: 1;
    flex-flow: column;
    background: #f2fcfc;
    color: darkslategray;
    overflow-y: scroll;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.preview-block {
    margin: 10px;
    display: flex;
    border: 1px solid transparent;
    transition: 0.2s all;
}

.preview-text {
    flex: 1 1 auto;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;   
}

    .editable-text {
        background: white;
        color: indianred;
        user-select: text;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
    }

.preview-tools-button {
    margin: 2px;
    padding: 5px;
    display: flex;
    border-radius: 20px;
    transition: 0.2s all;
    cursor: pointer;
}

.preview-tools-button svg {
    width: 15px;
    height: 15px;
    fill: transparent;
}

.preview-block:hover {
    border: 1px solid lightgray;
    background: rgba(0,0,0,0.02);
}

.preview-block:hover .preview-tools-button {
    background: mediumseagreen;
}

.preview-block:hover .preview-tools-button:hover {
    background: forestgreen;
}

.preview-block:hover svg {
    fill: white;
}

.preview-tools {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    padding: 8px;
    flex-flow: column;
}

.preview-tools-button:hover {
    background: forestgreen;
}

.pane-toolbar {
    display: flex;
    background: white;
    border-top: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    color: dimgray;
}

    .toolbar-button {
        background: mediumseagreen;
        color: white;
        padding: 10px 20px;
        transition: 0.2s all;
        cursor: pointer;
        margin: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 3px;
    }

    .toolbar-button:hover {
        background: forestgreen
    }

    .toolbar-button svg {
        height: 20px;
        width: 20px;
        fill: white;
    }


/*Selectable elements*/

.radio-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 1 1 50%;
    margin-left: 10px;
}

.radio-container:first-child {
    margin-left: 0px;
}

.radio-container label {display: flex;}


.radio-container label:first-child {
    margin-left: 0px;
}

.gender-option {flex: 1}
.gender-option:nth-child(2) {margin-left: 10px}

.title-option {flex: 1}
.title-option:nth-child(n+1) {margin-left: 10px}

.relationship-option {flex: 0 0 32%;}
.relationship-option:nth-child(3n+2) {margin-left: 10px}
.relationship-option:nth-child(3n+3) {margin-left: 10px}
.relationship-option:nth-child(n+4) {margin-top: 10px}

.work-option {flex: 1 1 30%}

.skill-option {flex: 0 0 32%;}
.skill-option:nth-child(3n+2) {margin-left: 10px}
.skill-option:nth-child(3n+3) {margin-left: 10px}
.skill-option:nth-child(n+4) {margin-top: 10px}

.competency-option {flex: 0 0 32%;}
.competency-option:nth-child(3n+2) {margin-left: 10px}
.competency-option:nth-child(3n+3) {margin-left: 10px}
.competency-option:nth-child(n+4) {margin-top: 10px}

.work-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}



label span {
    display: flex;
    flex: 1;
    font-size: 14px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid lightgray;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: 0.2s all;
}

label span:hover {
    background: #EEE;
}

label .delete-button {
    padding: 0px;
    margin-left: auto;
    display: flex;
}

label :checked + span {
  color: white;
  background:#43cbcb;
  border: 1px solid #40bfbf;
}




.list-container {
    display: flex;
    flex: 1;
    flex-basis: 50%;
    margin-left: 10px;
}

.list-container:first-child {
    margin-left: 0px;
}


.select-menu {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 3px;
    background: white;
    position: relative;
    outline: none;
}

.select-menu:hover {
    background: #EEE;
}

.select-menu:first-child {
    margin-left: 0px;
}

.select-menu select {
    font-size: 14px;
    padding: 10px;
    margin-left: 10px;
    width: calc(100% + 20px); /*To hide the arrow*/
    border: none;
    background: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    color: darkslategray;
    outline: none;
}

.select-menu option {
    background: white;
    padding: 2px;
}

    .down-arrow {
        width: 10px;
        height: 10px;
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
        position: absolute;
        top: 25%;
        right: 10px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        pointer-events: none;
    }


.years-length-box {
    flex: 1 0 33%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    margin-left: 8px;
}





.delete-button svg {
    stroke: white;
    transition: 0.1s all;
}

.delete-button:hover svg {
    fill: white;
}

/* Specific stuff */

.count-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.count-container input[type=text] {
    margin: 0px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
}

.count-button:hover {
    background: #EEE;
}

.count-button:disabled {
    opacity: 0.6;
    cursor: default;
}

.count-button:disabled:hover {
    background: white;
}

.count-display {
    width: 15px;
    text-align: center;
}

.count-display:disabled {
    opacity: 0.6;
}

.rating-star-container {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.rating-star-container svg {
    height: 22px;
    width: 22px;
    stroke: lightgray;
    fill: transparent;
    padding: 2px;
    transition: 0.05s all;
}

.rating-star-container.enabled svg:hover {
    stroke: #40bfbf;
    cursor: pointer;
}

.rating-star-container.enabled svg:hover ~ svg {
    stroke: #40bfbf;
}

.rating-star-container svg.selected {
    fill: #43cbcb;
    stroke: #40bfbf;
}

.rating-star-container.disabled {
    opacity: 0.4;
    cursor: default;
}

#new-competency {
    width: 30%;
    border-right: none;
}

#add-competency {
    background: white;
    border: 1px solid lightgray;
    transition: 0.2s all;
    width: 40px;
}

#add-competency svg {
    stroke: lightgray;
}

#add-competency:hover:enabled {
    background: mediumseagreen;
    border: 1px solid forestgreen;
    color: white;
    cursor: pointer;
}

#add-competency:hover:enabled svg {
    stroke: white;
}

#add-competency:disabled {
    opacity: 0.6;
}

.radio-container span .tick {
    height: 10px;
    width: 20px;
    border-left: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0px 10px 10px 0px;
    transition: 0.2s all;
}

.radio-container :checked + span div.tick {
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

/* Modal */

#popup-backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    cursor: default;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

#popup-content {
    display: inherit;
    width: 500px;
    background: white;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    padding: 15px;
    flex-flow: column;
    position: relative;
}

.close-button {
    position: absolute;
    margin: 15px;
    top: 0px;
    right: 0px;
}

#popup-content svg {
    height: 20px;
    width: 20px;
    stroke: lightgray;
    fill: transparent;
    cursor: pointer;
}

#popup-content svg:hover {
    fill: lightgray;
}

#popup-content h2 {
    font-weight: 400;
    margin: 0px;
}

#popup-content a {
    color: forestgreen
}


/*Media changes*/

@media (max-width: 900px) {

    .app-container {
        flex-flow: column;
    }

    .banner-container {
        flex-flow: row;
        flex: 1 0 auto;
        width: 100%;
    }

    .banner-container span {display: none}

    .title-container {
        flex-flow: row; 
        margin: 0px; 
        flex: 1 0 auto;
        justify-content: flex-start;
    }
        .title-container h1 {font-size: 20px; order: 2; margin: 5px;}
        .title-container span {display: none}
        .logo-area {width: 45px; height: 45px; order: 1;}
        .logo-area svg {width: 35px; height: 35px}
        #ko-fi-button {margin: 10px;}
        
    #interactive-media {
        flex-flow: row;
        flex: 1;
    }
    
    .social-media-container {
        justify-content: flex-end;
        order: 3;
        flex: 0; 
        margin: 5px;
    }

}

@media (max-width: 650px) {

    .banner-container {position: relative}

    #interactive-media {
        display: flex;
        flex-flow: row;
        position: absolute;
        top: 0px;
        height: 100%;
        width: calc(100% - 65px);
        background: white;
    }

    .visible-media {left: 0px}
    .hidden-media {left: -100%}

    .social-media-container {
        order: initial;
    }

    .preview-page {
        overflow-y: initial;
    }

    .share-button {
        display: flex;
        font-size: 12px;
        align-items: center;
        height: 65px;
        width: 65px;
        justify-content: center;
        cursor: pointer;
    }

    .share-button:hover {
        background: ghostwhite
    }
    
    .pane-container {
        flex: 1;
    }

    .type-button-container {
        margin: 5px;
    }

    .form-block {
        margin-bottom: 0px;
    }

    .form-row {
        flex-flow: column;
    }

    .form-row input {
        width: calc(100% - 20px);
        margin-top: 15px;
    }

    .form-row input:first-child {
        margin-top: 0px;
    }

    .form-row input[type=text] {
        margin-left: 0px;
    }

    .radio-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .gender-option:nth-child(even) {margin-left: 10px}

    .relationship-option {flex: 0 0 48%}
    .relationship-option:nth-child(3n+2) {margin-left: 0px} /*remove old formatting*/
    .relationship-option:nth-child(3n+3) {margin-left: 0px} /*remove old formatting*/
    .relationship-option:nth-child(n+4) {margin-top: 0px} /*remove old formatting*/
    .relationship-option:nth-child(2n+2) {margin-left: 10px}
    .relationship-option:nth-child(n+3) {margin-top: 10px}

    .work-container {flex-wrap: wrap}
    .work-container .work-topic {order: 4}
    .count-container {flex: 0 0 40px; padding: 5px}
    .rating-star-container {flex: 0 1 auto}


    .skill-option {flex: 0 0 98%}
    .skill-option:nth-child(3n+2) {margin-left: 0px} /*remove old formatting*/
    .skill-option:nth-child(3n+3) {margin-left: 0px} /*remove old formatting*/
    .skill-option:nth-child(n+4) {margin-top: 0px} /*remove old formatting*/
    .skill-option:nth-child(n+2) {margin-top: 10px}

    .competency-option {flex: 0 0 48%}
    .competency-option:nth-child(3n+2) {margin-left: 0px} /*remove old formatting*/
    .competency-option:nth-child(3n+3) {margin-left: 0px} /*remove old formatting*/
    .competency-option:nth-child(n+4) {margin-top: 0px} /*remove old formatting*/
    .competency-option:nth-child(2n+2) {margin-left: 10px}
    .competency-option:nth-child(n+3) {margin-top: 10px}

    .years-length-box {margin-top: 10px}


    .list-container {
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%
    }

    .list-container div:nth-child(even) {
        margin-left: 10px;
    }

    .select-menu {
        margin-left: 0px;
        flex: 1 1 40%;
    }

    .select-menu:nth-child(n+3) {
        margin-top: 10px;
    }

    .collapsable-text {
        display: none;
    }

    #recommend-button {
        margin: 0px;
    }

/*Some phones don't have screens wide enough to show all title options*/
/*So, for those we'll put these options on two rows*/
@media (max-width:400px) {

    .title-option {flex: 0 0 30%}
    .title-option:nth-child(n+1) {margin-left: 0px}
    .title-option:nth-child(3n+2) {margin-left: 10px;}
    .title-option:nth-child(3n+3) {margin-left: 10px;}
    .title-option:nth-child(n+4) {margin-top: 10px;}
}


/* Printing stuff */

@media print {
    .preview-page {
        padding-top: 100px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
        overflow: hidden;
        color: black
    }
    .banner-container, 
    .preview-tools {
        display: none;
    }
}